/*
 * Local Variables:                
 * mode: scss                      
 * scss-output-directory: "../css" 
 * scss-compile-at-save: t         
 * End:                            
 */

@import './variables';
@import './simplecss';
@import './codeBlocks';

@import './level/0/index';
@import './level/0/about';
@import './level/0/contact';
@import './level/0/blog';

@import './level/1/article';

html {
	body {
		&.preload {
			// Until the body and it's contents've all fully loaded the DOM tree, do not apply any transitions
			transition: none !important;
			* {
				transition: none !important;
			}
		}
		&>* {
			grid-column: 2;
		}
		margin: 0;
		padding: 0;
		background-color: var(--bg);
		color: var(--text);
		font-family: var(--mono-font);
		font-size: 1.15rem;
		line-height: 1.5;
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: auto;
		transition: background-color 300ms ease-in, color 300ms ease-in;
		min-width: 310px;
		#preamble {
			position: sticky;
			top: 0;
			height: 42px;
			width: 100%;
			display: block;
			z-index: 1000;
			min-width: 310px;
			#topnav {
				width: 100%;
				height: 100%;
				background-color: transparent;
				display: flex;
				a {
					background-color: var(--accent);
					line-height: 22px;
					display:block;
					padding: 10px 1em 10px 1em;
					text-align: center;
					verical-align: middle;
					font-weight: bold;
					text-decoration-thickness: 2px;
					color: var(--accent-bg);
					transition: color 300ms ease-in;
					&:link, &:visited {
						//color: var(--bg);
					}
					&:hover {
						transition: none;
						background-color: var(--code);
					}
					&:active {
						background-color: var(--border);
						cursor: wait;
					}
					&.clicked {
						background-color: var(--code);
						cursor: wait;
					}
					&[data-current] {
						background-color: var(--accent-bg);
						color: var(--code);
						transition: background-color 300ms ease-in;
					}	
				}
				.sparse {
					background-color: var(--accent);
					width: 100%;
					height: 100%;
					display: flex;
					flex-direction: row-reverse;
				}
			}
		}

		#content {
			min-height: calc(100vh - 126px);
			max-width: calc(1000px - 2em);
			background-color: var(--accent-bg);
			padding: 42px 1em 42px 1em;
			z-index: 0;
			transition: background-color 300ms ease-in, color 300ms ease-in;
			img {
				max-width: 100%;
				max-height: 100%;
				cursor: pointer;
			}
			code {
				background-color: var(--bg);
				color: var(--code);
				padding: 2px;
				border-radius: 4px;
				transition: background-color 300ms ease-in, color 300ms ease-in;
			}
			h1, h2, h3, h4, h5, h6 {
				color: var(--preformatted);
				transition: background-color 300ms ease-in, color 300ms ease-in;
			}
			#table-of-contents {
				display: none;
			}
			p {
				cursor: text;
			}
			input, textarea {
				transition: background-color 300ms ease-in, color 300ms ease-in;
				&:focus {
					color: var(--text-light);
					outline: 2px solid var(--text-light);
					transition: none;
				}
			}
			input[type="submit"] {
				color: var(--accent-bg);
				transition: color 300ms ease-in;
				border: 1px solid transparent;
				&:hover {
					background-color: var(--code);
					transition: none;
					font-weight: 700;
					border-color: transparent !important;
				}
				&:focus {
					filter: none;
					transition: none;
					font-weight: 700;
				}
			}
		}

		#postamble {
			footer {
				//background-color: var(--disabled);
				background-color: var(--accent-bg);
				border-top: 2px solid var(--accent);
				transition: background-color 300ms ease-in, color 300ms ease-in;
				display: grid;
				//grid-template-rows: auto auto auto auto;
				grid-template-rows: auto auto;
				grid-template-columns: auto;
				#socmedia {
					grid-row: 1/2;
					height: calc(42px*2);
					display: flex;
					justify-content: center;
					align-items: center;
				}
				/*
				#subscribe {
					grid-row: 2/3;
					display: grid;
					grid-template-rows: auto auto;
					grid-template-columns: 1fr 1fr 1fr;
					#cta {
						grid-row: 1/2;
						grid-column: span 3;
						margin: 0;
					}
					#subTwitter {
						grid-row: 2/3;
						grid-column: 1/2;
						height: 200px;
					}
					#subEmail {
						grid-row: 2/3;
						grid-column: 2/3;
					}
					#subRss {
						grid-row: 2/3;
						grid-column: 3/4;
					}
				}*/
				#info {
					grid-row: 2/3;
					width: 100%;
					height: auto;
					display: flex;
					justify-content: center;
					div {
						text-align: center;
						color: var(--text-light) !important;
						width: 70%;
						border-top: 2px solid var(--accent);
						margin-bottom: calc(42px / 2);
					}
				}
				#bottom {
					grid-row: 4/5;
				}
			}
			#remark42 {
				background-color: var(--accent-bg);
				padding: 1em;
				min-height: 400px;
				transition: background-color 300ms ease-in, color 300ms ease-in;
			}
		}

		#preamble, #postamble {
			max-width: 1000px;
			& .theme-changer {
				height: 42px;
				width: 42px;
				flex-shrink: 0;
				button {
					border-radius: 0 !important;
					width: 100%;
					height: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					padding: 0;
					margin: 0;
					background-color: transparent;
					&:hover, &:focus {
						background-color: transparent;
						filter: none !important;
						outline: none;
					}
					i {
						justify-content: center;
						align-items: center;
						& > svg {
							width: 30px;
							height: 30px;
							color: var(--accent);
						}	
					}
					.sr-only {
						  height: 1px;
						  width: 1px;
						  overflow: hidden;
						  opacity: 0;
					}
				}
				&.top-level {
					button {
						i > svg {
							color: var(--accent-bg);
						}
					}
				}
			}
		}
	}
	.sun-icon, .moon-icon {
		display: none;
	}
	&[data-theme=light] {
		.sun-icon {
			display: flex !important;
		}
	}
	&[data-theme=dark] {
		.moon-icon {
			display: flex !important;
		}
	}
}


@media only screen and (min-width: 400px) {
	html {
		body {
			grid-template-columns: 1fr 92% 1fr;
		}
	}
}

@media only screen and (min-width: 900px) {
	html {
		body {
			grid-template-columns: 1fr 80% 1fr;
		}
	}
}

@media only screen and (min-width: 1200px) {
	html {
		body {
			grid-template-columns: 1fr auto 1fr;
			#preamble, #postamble {
				.theme-changer {
					&.top-level {
						position: relative;
						left: 42px;
						button {
							i > svg {
								color: var(--accent);
							}
						}
					}
					button {
						i > svg {
							color: var(--accent);
						}
					}
				}
			}
			#content {
				min-width: calc(1000px - 2em);
				#table-of-contents {
					display: block;
				}
			}
		}
	}
}

.socMediaBox {
	width: auto;
    height: 42px;
	display: flex;
	.profile {
		display: block !important;
		width: 42px !important;
		height: 42px !important;
		i {
			//display: inline-block;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			svg {
				width: calc(42px/1.5);
				height: calc(42px/1.5);
				fill: var(--accent) !important;
				& * {
					fill: var(--accent) !important;
				}
				/*
				&>*:hover {
					fill: var(--code) !important;
				}*/
			}
			&:hover {
				svg {
					fill: var(--code) !important;
					& * {
						fill: var(--code) !important;
					}
				}
			}
		}
	}
}
