/* Error: Undefined variable.
 *    ,
 * 11 |                 rgba($darkth-bg, 1) 0%,
 *    |                      ^^^^^^^^^^
 *    '
 *   level/0/index.scss 11:10  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 11 \2502                  rgba($darkth-bg, 1) 0%,\a    \2502                       ^^^^^^^^^^\a    \2575 \a   level/0/index.scss 11:10  root stylesheet";
}
