#about {
	.figure-number {
		//Do not number image captions
		display: none;
	}
	p {
		text-indent: 1em;
	}
	#text-aboutme {
		display: grid;
		grid-template-rows: auto;
		grid-template-columns: auto auto;
		figure {
			grid-rows: 1/2;
			grid-columns: 1/2;
			#me {
				border-radius: var(--border-radius);
			
			}
		}
		div {
			grid-rows: 1/2;
			grid-columns: 2/3;
			padding-left: 1em;
		}
	}
  
}


@media only screen and (max-width: 800px) {
	#about {
		#text-aboutme {
			grid-template-rows: auto auto;
			grid-template-columns: auto;
			figure {
				grid-rows: 1/2;
				grid-columns: 1/2;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				#me {
					max-width: 50% !important;
				}
			}
			div {
				grid-rows: 2/3;
				grid-columns: 1/2;
				padding-left: 0;
			}
		}
	}
}
